<div class="content-container">
    <form name="addEditRepositorySourceForm" novalidate="novalidate">

        <label for="code"><message key="gen.code.title"></message></label>
        <div class="form-control-group" ng-class="deriveFormControlsContainerClasses('code')">
            <div ng-show="amEditing" class="form-control-group-static">
                <code>{{workingRepositorySource.code}}</code>
            </div>
            <input
                    id="code"
                    type="text"
                    name="code"
                    autocomplete="off"
                    ng-show="!amEditing"
                    ng-change="codeChanged()"
                    ng-required="true"
                    ng-pattern="/^[a-z0-9]{2,16}_[a-z0-9_]+$/"
                    ng-model="workingRepositorySource.code"/>
            <error-messages key-prefix="addEditRepositorySource.code" error="addEditRepositorySourceForm.code.$error"></error-messages>
        </div>

        <label for="forcedInternalBaseUrl"><message key="addEditRepositorySource.forcedInternalBaseUrl.title"></message></label>
        <div class="form-control-group" ng-class="deriveFormControlsContainerClasses('forcedInternalBaseUrl')">
            <input
                    id="forcedInternalBaseUrl"
                    type="text"
                    size="64"
                    name="forcedInternalBaseUrl"
                    autocomplete="off"
                    ng-change="forcedInternalBaseUrlChanged()"
                    ng-model="workingRepositorySource.forcedInternalBaseUrl"/>
            <error-messages key-prefix="addEditRepositorySource.forcedInternalBaseUrl" error="addEditRepositorySourceForm.forcedInternalBaseUrl.$error"></error-messages>
        </div>

        <label for="expectedUpdateFrequencyHours"><message key="addEditRepositorySource.expectedUpdateFrequencyHours.title"></message></label>
        <div class="form-control-group" ng-class="deriveFormControlsContainerClasses('expectedUpdateFrequencyHours')">
            <input
                    id="expectedUpdateFrequencyHours"
                    type="number"
                    min="1"
                    size="6"
                    name="expectedUpdateFrequencyHours"
                    autocomplete="off"
                    ng-model="workingRepositorySource.expectedUpdateFrequencyHours"/>
            <message key="addEditRepositorySource.expectedUpdateFrequencyHours.unit"></message>
            <error-messages key-prefix="addEditRepositorySource.expectedUpdateFrequencyHours" error="addEditRepositorySourceForm.expectedUpdateFrequencyHours.$error"></error-messages>
        </div>

        <label ng-show="amEditing"><message key="addEditRepositorySource.extraIdentifiers.title"></message></label>
        <div class="form-control-group" ng-show="amEditing">

            <div ng-show="!workingRepositorySource.extraIdentifiers || !workingRepositorySource.extraIdentifiers.length">
                <message key="addEditRepositorySource.extraIdentifiers.none.description"></message>
            </div>
            <table class="table-general"
                   ng-show="workingRepositorySource.extraIdentifiers && workingRepositorySource.extraIdentifiers.length">
                <thead>
                <th><message key="addEditRepositorySource.extraIdentifiers.table.identifier.title"></message></th>
                <th></th>
                </thead>
                <tbody>
                <tr ng-repeat="extraIdentifier in workingRepositorySource.extraIdentifiers">
                    <td>{{extraIdentifier}}</td>
                    <td>
                        <a href="" ng-click="goDeleteExtraIdentifier(extraIdentifier)">
                            <img src="/__img/rowdelete.svg" img-downgrade="">
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div id="edit-repository-source-extra-identifier-add-widgets-container">
                <input
                        id="newExtraIdentifier"
                        type="text"
                        size="48"
                        name="newExtraIdentifier"
                        autocomplete="off"
                        ng-model="newExtraIdentifier"/>
                <button
                        ng-disabled="!newExtraIdentifier.length"
                        ng-click="goAddExtraIdentifier()"
                        type="submit">
                    <message key="addEditRepositorySource.extraIdentifiers.addAction.title"></message>
                </button>
            </div>
        </div>

        <div class="form-action-container">
            <button
                    ng-disabled="addEditRepositorySourceForm.$invalid"
                    ng-click="goSave()"
                    type="submit"
                    class="main-action">
                <span ng-show="amEditing"><message key="addEditRepositorySource.saveChangesAction.title"></message></span>
                <span ng-show="!amEditing"><message key="addEditRepositorySource.addAction.title"></message></span>
            </button>
        </div>

    </form>
</div>

<spinner spin="shouldSpin()"></spinner>

