<div class="content-container">

    <div ng-show="isSubordinate()" class="info-container">
        <message key="editPkgLocalization.devel"></message>
    </div>

    <div
            ng-show="showHelp"
            class="info-container"
            passive-content="editpkglocalizationhelp.html">
    </div>

    <form name="editPkgLocalizationForm" novalidate="novalidate">

        <table id="edit-localization-container">
            <tr>
                <td id="natural-language-translations-cell">
                    <div ng-repeat="translation in translations">
                        <span ng-show="isTranslationSelected(translation)">
                            &#8594;
                        </span>
                        <a
                                ng-class="classesForTranslation(translation)"
                                ng-click="goChooseTranslation(translation)">
                            <message key="{{'naturalLanguage.' + translation.naturalLanguage.code}}"></message>
                        </a>
                        ({{translation.naturalLanguage.code}})
                        <span ng-show="translation.wasEdited" class="muted">*</span>
                    </div>

                    <div
                            id="natural-language-translations-add-language-container"
                            ng-show="addableNaturalLanguages.length">
                        <select
                                required="true"
                                ng-model="selectedAddableNaturalLanguage"
                                ng-options="anAddableNaturalLanguages.title for anAddableNaturalLanguages in addableNaturalLanguages">
                        </select>
                        <button ng-click="goAddSelectedAddableNaturalLanguage()">+</button>
                    </div>
                </td>
                <td id="translation-cell">

                    <h2><message key="editPkgLocalization.title.title"></message></h2>
                    <input
                            type="text"
                            ng-model="selectedTranslation.title"
                            id="translation-cell-title"></textarea>

                    <h2><message key="editPkgLocalization.summary.title"></message></h2>
                    <textarea
                            type="text"
                            ng-model="selectedTranslation.summary"
                            id="translation-cell-summary"></textarea>

                    <h2><message key="editPkgLocalization.description.title"></message></h2>
                    <textarea
                            type="text"
                            ng-model="selectedTranslation.description"
                            id="translation-cell-description"></textarea>

                    <p class="text-warning" ng-show="'en'==selectedTranslation.naturalLanguage.code">
                        <message key="editPkgLocalization.englishNotLikelyToBeUsed"></message>
                    </p>

                </td>
            </tr>
        </table>

        <div id="edit-localization-actions-container">
            <div>
                <button
                        ng-disabled="!canSave()"
                        ng-click="saveEditedLocalizations()"
                        type="submit"
                        class="main-action">
                    <message key="editPkgLocalization.action.title"></message>
                </button>
            </div>
        </div>

        <div id="edit-localization-import-export-container" ng-show="importExport.show">
            <div>
                <textarea
                        rows="24"
                        name="importExportText"
                        ng-model="importExport.text"></textarea>

                <div ng-show="importExport.error" class="text-error">
                    <message key="editPkgLocalization.exportFromTextGeneralError"></message>
                </div>

                <ul>
                    <li>
                        <a href="" ng-click="goImportToText()">
                            <message key="editPkgLocalization.importToTextAction.title"></message>
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="goExportFromText()">
                            <message key="editPkgLocalization.exportFromTextAction.title"></message>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </form>

    <ul>
        <li ng-show="!showHelp">
            <a href="" ng-click="goShowHelp()">
                <message key="gen.help.title"></message>
            </a>
        </li>
        <li>
            <a href="" ng-click="goShowAnyPkgVersionLocalizations()">
                <message key="editPkgLocalization.showAnyPkgVersionLocalizationAction.title"></message>
            </a>
        </li>
        <li ng-show="!importExport.show">
            <a href="" ng-click="goShowImportExport()">
                <message key="editPkgLocalization.showImportExportAction.title"></message>
            </a>
        </li>
        <li>
            <user-usage-conditions-link>
                <message key="userUsageConditions.link.title"></message>
            </user-usage-conditions-link>
        </li>
    </ul>

</div>

<spinner spin="shouldSpin()"></spinner>

