<div class="content-container home">

    <div id="search-criteria-container">
        <div class="search-criteria-input-container">
            <repositories-chooser repositories="selectedRepositories"></repositories-chooser>
        </div>
        <div class="search-criteria-input-container">
            <select
                    ng-model="selectedArchitecture"
                    ng-options="anArchitecture.code for anArchitecture in architectures">
            </select>
        </div>
        <div class="search-criteria-input-container">
            <select
                    ng-model="selectedViewCriteriaTypeOption"
                    ng-options="aViewCriteriaTypeOptions.title for aViewCriteriaTypeOptions in viewCriteriaTypeOptions">
            </select>
        </div>
        <div class="search-criteria-input-container">
            <input type="checkbox" ng-model="includeDevelopment">
            <img src="/__img/developerresources.svg" img-downgrade="" alt="Include developers' resources">
        </div>
        <div class="search-criteria-input-container">
            <input type="checkbox" ng-model="onlyNativeDesktop">
            <img src="/__img/native.svg" img-downgrade="" alt="Only show native desktop software">
        </div>
        <div class="search-criteria-input-container">
            <input type="checkbox" ng-model="onlyDesktop">
            <label><message key="home.searchOnlyDesktopToggle.title"></message></label>
        </div>
        <div class="search-criteria-input-container" ng-show="'CATEGORIES'==selectedViewCriteriaTypeOption.code">
            <span ng-show="!pkgCategories">...</span>
            <select
                    ng-show="pkgCategories"
                    ng-model="selectedPkgCategory"
                    ng-options="aPkgCategory.title for aPkgCategory in pkgCategories">
            </select>
        </div>
        <div class="search-criteria-input-container">
            <input
                    ng-model="searchExpression"
                    autocomplete="off"
                    initial-focus=""
                    focus-after-reset-to-home=""
                    return-key-press="goSearch()"
                    placeholder="zlib">
            <button ng-click="goSearch()">
                <message key="home.searchButton.title"></message>
            </button>
        </div>
        <div id="search-criteria-help">
            <a ng-click="goShowSearchSpecificationHelp()" href="">
                <img src="/__img/help.svg" img-downgrade="">
            </a>
        </div>
    </div>

    <!-- RESULTS -->

    <div id="search-results-container">

        <div ng-show="pkgs.items && 0==pkgs.items.length" class="info-container">
            <strong><message key="home.noResults.title"></message>;</strong>
            <message key="home.noResults.description"></message>
        </div>

        <div ng-show="pkgs.items && pkgs.items.length" class="table-general-container">

            <div class="table-general-pagination-container">
                <pagination-control
                        query-offset-key="o"
                        link-count="9"
                        max="pkgs.max"
                        total="pkgs.total"
                        offset="pkgs.offset"></pagination-control>
            </div>

            <div class="muted">
                {{pkgs.total}}
                <span ng-switch="pkgs.total">
                    <span ng-switch-when="1"><message key="gen.pkg.title"></message></span>
                    <span ng-switch-default=""><message key="gen.pkg.title.plural"></message></span>
                </span>
            </div>

            <table class="table-general">
                <thead>
                <th></th>
                <th><message key="gen.pkg.title"></message></th>
                <th><message key="home.table.payloadlength.title"></message></th>
                <th><message key="home.table.rating.title"></message></th>
                <th ng-show="shouldShowRepositoryTableColumn()"><message key="home.table.repository.title"></message></th>
                <th><message key="home.table.version.title"></message></th>
                <th ng-show="'MOSTRECENT'==selectedViewCriteriaTypeOption.code"><message key="home.table.approximateVersionDate.title"></message></th>
                <th ng-show="'MOSTVIEWED'==selectedViewCriteriaTypeOption.code"><message key="home.table.versionViewCounter.title"></message></th>
                </thead>
                <tbody>
                <tr ng-repeat="pkg in pkgs.items">
                    <td><pkg-icon size="24" pkg="pkg"></pkg-icon></td>
                    <td>
                        <a href="{{viewPkgPath(pkg)}}" ng-click="goViewPkg(pkg, $event)">
                            <highlighted-text
                                    value="pkg.derivedTitle"
                                    search-expression="lastRefetchPkgsSearchExpression"
                                    search-expression-type="'CONTAINS'"></highlighted-text>
                        </a>
                        <img ng-show="pkg.isNativeDesktop" src="/__img/native.svg" img-downgrade="" alt="Is native desktop software">
                        <span ng-show="shouldExplicitlyShowName(pkg)" class="muted">
                            (<highlighted-text
                                value="pkg.name"
                                search-expression="lastRefetchPkgsSearchExpression"
                                search-expression-type="'CONTAINS'"></highlighted-text>)
                        </span>
                        <div ng-show="shouldShowSummary(pkg)">
                            <small class="muted">
                                <highlighted-text
                                        value="pkg.versions[0].summary"
                                        search-expression="lastRefetchPkgsSearchExpression"
                                        search-expression-type="'CONTAINS'"></highlighted-text>
                            </small>
                        </div>
                        <div ng-show="shouldShowDescriptionSnippet(pkg)">
                            <small class="muted">
                                <highlighted-text
                                        value="pkg.versions[0].descriptionSnippet"
                                        search-expression="lastRefetchPkgsSearchExpression"
                                        search-expression-type="'CONTAINS'"></highlighted-text>
                            </small>
                        </div>
                    </td>
                    <td>
                        <span class="muted">{{pkg.versions[0].payloadLength|dataLength}}</span>
                    </td>
                    <td>
                        <span ng-show="shouldShowDerivedRating(pkg)">
                            <rating-indicator rating="{{pkg.derivedRating}}"></rating-indicator>
                        </span>
                    </td>
                    <td class="muted" ng-show="shouldShowRepositoryTableColumn()">
                        <repository-label repository="pkg.versions[0].repository" should-link="false"></repository-label>
                    </td>
                    <td><version-label version="pkg.versions[0]"></version-label></td>
                    <td ng-show="'MOSTRECENT'==selectedViewCriteriaTypeOption.code"><span class="muted">{{pkg.versions[0].createTimestamp|timestamp}}</span></td>
                    <td ng-show="'MOSTVIEWED'==selectedViewCriteriaTypeOption.code"><span class="muted">{{pkg.versions[0].viewCounter}}</span></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<modal-container show="showSearchSpecificationHelp" width="420" close="goHideSearchSpecificationHelp()">

    <p>
        The package search specification has a number of inputs.
    </p>
    <p>
        The check-box and icon <img src="/__img/developerresources.svg" img-downgrade="">
        controls if packages are shown which are likely to only be of interest to developers.
        This includes source codes, debug information etc...
    </p>
    <p>
        The check-box and icon <img src="/__img/native.svg" img-downgrade="">
        controls if only package which supply desktop application(s) with a
        human-facing GUI that aligns to the Haiku "look and feel" and uses native Haiku
        APIs to achieve this.
    </p>

</modal-container>

<spinner spin="shouldSpin()"></spinner>
