<!--
  ~ Copyright 2017, Andrew Lindesay
  ~ Distributed under the terms of the MIT License.
  -->

<div class="content-container">

    <div
            ng-show="showHelp"
            class="form-info-container"
            passive-content="pkgscreenshotarchiveimporthelp.html">
    </div>

    <form name="specificationForm" novalidate="novalidate">

        <label for="import-data-file"><message key="pkgScreenshotArchiveImport.importDataFile.title"></message></label>
        <div class="form-control-group" ng-class="deriveFormControlsContainerClasses('importDataFile')">
            <input
                    id="import-data-file"
                    name="importDataFile"
                    type="file"
                    ng-model="specification.importDataFile"
                    file-supply
                    required></input>
            <error-messages
                    key-prefix="pkgScreenshotArchiveImport.importDataFile"
                    error="specificationForm.importDataFile.$error"></error-messages>
        </div>

        <label for="importStrategy"><message key="pkgScreenshotArchiveImport.importStrategy.title"></message></label>
        <div class="form-control-group">
            <select
                    id="importStrategy"
                    ng-model="specification.importStrategy"
                    ng-options="anImportStrategy.title for anImportStrategy in importStrategies">
            </select>
        </div>

        <div class="form-action-container">
            <button
                    ng-disabled="specificationForm.$invalid"
                    ng-click="goQueue()"
                    type="submit"
                    class="main-action">
                <message key="pkgScreenshotArchiveImport.action.title"></message>
            </button>
        </div>

    </form>

    <ul>
        <li ng-show="!showHelp">
            <a href="" ng-click="goShowHelp()">
                <message key="gen.help.title"></message>
            </a>
        </li>
    </ul>

</div>

<spinner spin="shouldSpin()"></spinner>

