<!-- Because this page is root only, I will not worry about localization for it -->

<div class="content-container">

    <p>These are root-level operations that can be performed on the system.</p>

    <h1>Actions</h1>
    <ul>
        <li>
            <a href="" ng-click="goQueuePkgVersionPayloadDataPopulationJob()">
                Populate payload lengths, icons and identify desktop packages from payloads (slow, data-intensive)
            </a>
            <span ng-show="!!didActions['queuePkgVersionPayloadDataPopulationJob']">
                <em>&mdash; did initiate</em>
            </span>
        </li>
        <li>
            <a href="" ng-click="goDeriveAndStoreUserRatingsForAllPkgs()">
                Derive and store user ratings for all packages
            </a>
            <span ng-show="!!didActions['deriveAndStoreUserRatingsForAllPkgs']">
                <em>&mdash; did initiate</em>
            </span>
        </li>
        <li>
            <a
                    breadcrumb-link="runtimeInformation"
                    breadcrumb-link-parameters="[]">
                Runtime information
            </a>
        </li>
        <li>
            <a href="" ng-click="goPaginationControlPlayground()">
                Pagination playground
            </a>
        </li>
        <li>
            <a href="" ng-click="goRaiseExceptionInLocalRuntime()">
                Raise test exception in javascript environment
            </a>
        </li>
        <li>
            <a href="" ng-click="goRaiseExceptionInServerRuntime()">
                Raise test exception on server via json-rpc
            </a>
        </li>
        <li>
            <a href="" ng-click="goPkgCategoryCoverageImportSpreadsheet()">
                Import package categories
            </a>
        </li>
        <li>
            <a href="" ng-click="goPkgIconArchiveImport()">
                Import package icons from an archive
            </a>
        </li>
        <li>
            <a href="" ng-click="goPkgScreenshotArchiveImport()">
                Import package screenshots from an archive
            </a>
        </li>
        <li>
            <a href="" ng-click="goPkgLocalizationImport()">
                Import package localizatins from a .json file
            </a>
        </li>
        <li>
            <a
                    breadcrumb-link="listJobs"
                    breadcrumb-link-parameters="[]">
                List jobs
            </a>
        </li>
    </ul>

    <hr/>

    <h1>Dangerous Actions</h1>

    <ul>
        <li>
            <a href="" ng-click="goShutdownAllInstances()">
                Shutdown all instances
                <span ng-show="!!didActions['shutdownAllInstances']">
                <em>&mdash; did shutdown all instances</em>
            </span>
            </a>
        </li>
    </ul>

</div>
