<div ng-show="shouldShowQuery()" id="local-storage-query">
    <message key="allowLocalStorage.message"></message>
    <ul>
        <li>
            <a href="" ng-click="goAllow()">
                <message key="allowLocalStorage.question.allow"></message>
            </a>
        </li>
        <li>
            <user-usage-conditions-link>
                <message key="userUsageConditions.link.title"></message>
            </user-usage-conditions-link>
        </li>
        <li>
            <a href="" ng-click="goDisallow()">
                <message key="allowLocalStorage.question.disallow"></message>
            </a>
        </li>
    </ul>
</div>