.*
**/*.iml
support/*.pyc
support/__pycache__/
target
node_modules
venv
haikudepotserver-webapp/src/main/webapp/js/lib/**
haikudepotserver-spa1/node

Dockerfile_server_graphics
Dockerfile_webapp

support/client-tools/hds_*_client/**