.*
*.iml
support/*.pyc
support/__pycache__/
target
node_modules
venv
haikudepotserver-webapp/src/main/webapp/js/lib/**
haikudepotserver-webapp/src/main/resources/local.properties
haikudepotserver-spa1/node


