<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--
    This provides the database source; pooled.
    -->

    <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="testOnBorrow" value="true"/>
        <property name="validationQuery" value="SELECT 1"/>
        <!-- REINSTATE AFTER SHIFTING TO TOMCAT 2.3 MAVEN PLUGIN + NEWER TOMCAT-->
        <!--<property name="validationQueryTimeout" value="10"/> &lt;!&ndash; seconds &ndash;&gt;-->
    </bean>

    <!--
    This manages database migrations (upgrades)
    -->

    <bean class="org.haikuos.haikudepotserver.support.db.migration.ManagedDatabase" init-method="init">
        <property name="dataSource" ref="dataSource"/>
        <property name="migrate" value="${flyway.migrate}"/>
        <property name="schema" value="haikudepot"/>
    </bean>

    <bean class="org.haikuos.haikudepotserver.support.db.migration.ManagedDatabase" init-method="init">
        <property name="dataSource" ref="dataSource"/>
        <property name="migrate" value="${flyway.migrate}"/>
        <property name="schema" value="captcha"/>
    </bean>

    <!--
    This manages the cayenne object-relational setup
    -->

    <bean id="haikuDepotServerRuntime" class="org.apache.cayenne.configuration.server.ServerRuntime">
        <constructor-arg index="0" value="cayenne-haikudepotserver.xml"/>
        <constructor-arg index="1">
            <bean class="org.haikuos.haikudepotserver.support.cayenne.ConfigureDataSourceModule">
                <property name="dataSource" ref="dataSource"/>
            </bean>
        </constructor-arg>
    </bean>

</beans>