<div class="content-container">
    <form name="addEditRepositoryForm" novalidate="novalidate">

        <label for="code"><message key="gen.code.title"></message></label>
        <div class="form-control-group" ng-class="deriveFormControlsContainerClasses('code')">
            <div ng-show="amEditing" class="form-control-group-static">
                <code>{{workingRepository.code}}</code>
            </div>
            <input
                    id="code"
                    type="text"
                    name="code"
                    autocomplete="off"
                    ng-show="!amEditing"
                    ng-change="codeChanged()"
                    ng-required="true"
                    ng-pattern="/^[a-z0-9]{2,16}$/"
                    ng-model="workingRepository.code"/>
            <error-messages key-prefix="addEditRepository.code" error="addEditRepositoryForm.code.$error"></error-messages>
        </div>

        <label for="name"><message key="addEditRepository.name.title"></message></label>
        <div class="form-control-group" ng-class="deriveFormControlsContainerClasses('name')">
            <input
                    id="name"
                    type="text"
                    size="64"
                    name="name"
                    autocomplete="off"
                    ng-required="true"
                    ng-model="workingRepository.name"/>
            <error-messages key-prefix="addEditRepository.name" error="addEditRepositoryForm.name.$error"></error-messages>
        </div>

        <label for="informationUrl"><message key="addEditRepository.informationUrl.title"></message></label>
        <div class="form-control-group" ng-class="deriveFormControlsContainerClasses('informationUrl')">
            <input
                    id="informationUrl"
                    type="text"
                    size="64"
                    name="informationUrl"
                    autocomplete="off"
                    ng-change="informationUrlChanged()"
                    ng-required="false"
                    ng-model="workingRepository.informationUrl"/>
            <error-messages key-prefix="addEditRepository.informationUrl" error="addEditRepositoryForm.informationUrl.$error"></error-messages>
        </div>

        <div class="form-action-container">
            <button
                    ng-disabled="addEditRepositoryForm.$invalid"
                    ng-click="goSave()"
                    type="submit"
                    class="main-action">
                <span ng-show="amEditing"><message key="addEditRepository.saveChangesAction.title"></message></span>
                <span ng-show="!amEditing"><message key="addEditRepository.addAction.title"></message></span>
            </button>
        </div>

    </form>
</div>

<spinner spin="shouldSpin()"></spinner>

