<div class="content-container">

    <div class="form-info-container" ng-show="didChangePassword">
        <message key="authenticateUser.info.changePassword"></message>
    </div>

    <div class="form-info-container" ng-show="didCreate">
        <message key="authenticateUser.info.createdAccount"></message>
    </div>

    <div class="form-alert-container" ng-show="didFailAuthentication">
        <message key="authenticateUser.info.failedAuthentication"></message>
    </div>

    <form name="authenticateUserForm" novalidate="novalidate">

        <label for="nickname"><message key="authenticateUser.nickname.title"></message></label>
        <div class="form-control-group" ng-class="deriveFormControlsContainerClasses('nickname')">
                <input
                        autofill-fix=""
                        type="text"
                        id="nickname"
                        name="nickname"
                        placeholder="erik"
                        ng-model="authenticationDetails.nickname"
                        ng-required="true"></input>
                <error-messages key-prefix="authenticateUser.nickname" error="authenticateUserForm.nickname.$error"></error-messages>
        </div>

        <label for="password-clear"><message key="authenticateUser.passwordClear.title"></message></label>
        <div class="form-control-group" ng-class="deriveFormControlsContainerClasses('passwordClear')">
                <input
                        autofill-fix=""
                        type="password"
                        id="password-clear"
                        name="passwordClear"
                        ng-required="true"
                        ng-model="authenticationDetails.passwordClear"></input>
                <error-messages
                        key-prefix="authenticateUser.passwordClear"
                        error="authenticateUserForm.passwordClear.$error"></error-messages>
        </div>

        <div class="form-action-container">
                <button
                        ng-disabled="authenticateUserForm.$invalid"
                        ng-click="goAuthenticate()"
                        type="submit"
                        class="main-action">
                    <message key="authenticateUser.action.title"></message>
                </button>
        </div>

    </form>

    <ul>
        <li>
            <a href="" ng-click="goCreateUser()">
                <message key="authenticateUser.createUserAction.title"></message>
            </a>
        </li>
        <li>
            <a
                    breadcrumb-link="initiatePasswordReset"
                    breadcrumb-link-parameters="[]">
                <message key="authenticateUser.initiatePasswordResetAction.title"></message>
            </a>
        </li>
    </ul>

</div>

<div class="footer"></div>
<spinner spin="shouldSpin()"></spinner>

