<breadcrumbs items="breadcrumbItems"></breadcrumbs>

<div class="content-container">

    <div class="form-info-container" ng-show="didChangePassword">
        The password was changed; you can now re-authenticate with the new password.
    </div>

    <div class="form-info-container" ng-show="didCreate">
        The new account was created; you can now login and use it.
    </div>

    <div class="form-alert-container" ng-show="didFailAuthentication">
        Your login attempt has failed; try again.
    </div>

    <form name="authenticateUserForm" novalidate="novalidate">

        <label for="nickname">Nickname</label>
        <div class="form-control-group" ng-class="deriveFormControlsContainerClasses('nickname')">
                <input
                        autofill-fix=""
                        type="text"
                        id="nickname"
                        name="nickname"
                        placeholder="erik"
                        ng-model="authenticationDetails.nickname"
                        ng-required="true"></input>
                <error-messages key-prefix="authenticateUser.nickname" error="authenticateUserForm.nickname.$error"></error-messages>
        </div>

        <label for="password-clear">Password</label>
        <div class="form-control-group" ng-class="deriveFormControlsContainerClasses('passwordClear')">
                <input
                        autofill-fix=""
                        type="password"
                        id="password-clear"
                        name="passwordClear"
                        ng-required="true"
                        ng-model="authenticationDetails.passwordClear"></input>
                <error-messages
                        key-prefix="authenticateUser.passwordClear"
                        error="authenticateUserForm.passwordClear.$error"></error-messages>
        </div>

        <div class="form-action-container">
                <button
                        ng-disabled="authenticateUserForm.$invalid"
                        ng-click="goAuthenticate()"
                        type="submit"
                        class="main-action">Login</button>
        </div>

    </form>

</div>

<div class="footer"></div>
<spinner spin="shouldSpin()"></spinner>

