<breadcrumbs items="breadcrumbItems"></breadcrumbs>

<div class="content-container">
    <form name="createUserForm" novalidate="novalidate">

        <label for="nickname">Nickname</label>
        <div class="form-control-group" ng-class="deriveFormControlsContainerClasses('nickname')">
            <input
                    id="nickname"
                    type="text"
                    name="nickname"
                    placeholder="erik"
                    ng-model="newUser.nickname"
                    ng-required="true"
                    ng-change="nicknameDidChange()"
                    ng-pattern="/^[a-z0-9]{4,16}$/"></input>
            <error-messages key-prefix="createUser.nickname" error="createUserForm.nickname.$error"></error-messages>
        </div>

        <label for="password-clear">Password</label>
        <div class="form-control-group" ng-class="deriveFormControlsContainerClasses('passwordClear')">
            <input
                    id="password-clear"
                    type="password"
                    name="passwordClear"
                    ng-required="true"
                    ng-minlength="5"
                    ng-model="newUser.passwordClear"></input>
            <error-messages key-prefix="createUser.passwordClear" error="createUserForm.passwordClear.$error"></error-messages>
        </div>

        <label for="create-user-captcha-response-input">Check for a Person</label>
        <div class="form-control-group" ng-class="deriveFormControlsContainerClasses('captchaResponse')">
            <img style="vertical-align:middle;" src="{{captchaImageUrl}}"></img>
            =
            <input
                    id="create-user-captcha-response-input"
                    size="3"
                    type="text"
                    name="captchaResponse"
                    ng-required="true"
                    ng-change="captchaResponseDidChange()"
                    ng-model="newUser.captchaResponse"></input>
            <error-messages key-prefix="createUserForm.captchaResponse" error="createUserForm.captchaResponse.$error"></error-messages>
        </div>

        <div class="form-action-container">
            <button
                    ng-disabled="createUserForm.$invalid"
                    ng-click="goCreateUser()"
                    type="submit"
                    class="main-action">Create</button>
        </div>

    </form>
</div>

<div class="footer"></div>
<spinner spin="shouldSpin()"></spinner>

