<breadcrumbs items="breadcrumbItems"></breadcrumbs>

<div class="content-container">

    <form name="editPkgCategoriesForm" novalidate="novalidate">

        <label>Package</label>
        <div class="form-control-group">
            <div class="form-control-group-static">
                <pkg-label pkg="pkg"></pkg-label>
            </div>
        </div>

        <label>Categories</label>
        <div class="form-control-group">
            <div ng-repeat="pkgCategory in pkgCategories" ng-class="pkgCategory.disabled ? 'muted' : ''">
                <input
                        type="checkbox"
                        ng-change="didChangePkgCategorySelection(pkgCatgeory)"
                        ng-disabled="pkgCategory.disabled"
                        ng-model="pkgCategory.selected">{{pkgCategory.name}}
            </div>
            <p class="muted">A maximum of three package categories is allowed.</p>
        </div>

        <div class="form-action-container">
            <button
                    ng-disabled="editPkgCategoriesForm.$invalid"
                    ng-click="goStorePkgCategories()"
                    type="submit"
                    class="main-action">Save</button>
        </div>

    </form>

</div>

<div class="footer"></div>
<spinner spin="shouldSpin()"></spinner>

