<breadcrumbs></breadcrumbs>

<div class="content-container">

    <div
            ng-show="showHelp"
            class="info-container"
            passive-content="editpkglocalizationhelp.html">
    </div>

    <form name="editPkgLocalizationForm" novalidate="novalidate">

        <table id="edit-localization-container">
            <tr>
                <td id="natural-language-translations-cell">
                    <div ng-repeat="translation in translations">
                        <span ng-show="isTranslationSelected(translation)">
                            &#8594;
                        </span>
                        <a
                                ng-class="classesForTranslation(translation)"
                                ng-click="goChooseTranslation(translation)">
                            <message key="{{'naturalLanguage.' + translation.naturalLanguage.code}}"></message>
                        </a>
                        ({{translation.naturalLanguage.code}})
                        <span ng-show="translation.wasEdited" class="muted">*</span>
                    </div>

                    <div
                            id="natural-language-translations-add-language-container"
                            ng-show="addableNaturalLanguages.length">
                        <select
                                required="true"
                                ng-model="selectedAddableNaturalLanguage"
                                ng-options="anAddableNaturalLanguages.title for anAddableNaturalLanguages in addableNaturalLanguages">
                        </select>
                        <button ng-click="goAddSelectedAddableNaturalLanguage()">+</button>
                    </div>
                </td>
                <td id="translation-cell">

                    <h2><message key="editPkgLocalization.title.title"></message></h2>
                    <input
                            type="text"
                            ng-model="selectedTranslation.title"
                            id="translation-cell-title"></textarea>

                </td>
            </tr>
        </table>

        <div id="edit-localization-actions-container">
            <div>
                <button
                        ng-disabled="!canSave()"
                        ng-click="saveEditedLocalizations()"
                        type="submit"
                        class="main-action">
                    <message key="editPkgLocalization.action.title"></message>
                </button>
            </div>
        </div>

    </form>

    <ul>
        <li ng-show="!showHelp">
            <a href="" ng-click="goShowHelp()">
                <message key="gen.help.title"></message>
            </a>
        </li>
    </ul>

</div>

<div class="footer"></div>
<spinner spin="shouldSpin()"></spinner>

