<div class="content-container">

    <form name="editPkgCategoriesForm" novalidate="novalidate">

        <label><message key="gen.pkg.title"></message></label>
        <div class="form-control-group">
            <div class="form-control-group-static">
                <pkg-label pkg="pkg"></pkg-label>
            </div>
        </div>

        <label><message key="editPkgCategories.categories.title"></message></label>
        <div class="form-control-group">
            <div ng-repeat="pkgCategory in pkgCategories" ng-class="pkgCategory.disabled ? 'muted' : ''">
                <input
                        type="checkbox"
                        ng-change="didChangePkgCategorySelection(pkgCatgeory)"
                        ng-disabled="pkgCategory.disabled"
                        ng-model="pkgCategory.selected">
                <pkg-category-label pkg-category="pkgCategory"></pkg-category-label>
            </div>
            <p class="muted"><message key="editPkgCategories.categories.maximumThreeNote"></message></p>
        </div>

        <div class="form-action-container">
            <button
                    ng-disabled="editPkgCategoriesForm.$invalid"
                    ng-click="goStorePkgCategories()"
                    type="submit"
                    class="main-action">
                <message key="editPkgCategories.action.title"></message>
            </button>
        </div>

    </form>

</div>

<spinner spin="shouldSpin()"></spinner>

