<div class="content-container">
    <form name="editUserForm" novalidate="novalidate">

        <label><message key="gen.nickname.title"></message></label>
        <div class="form-control-group">
            <div class="form-control-group-static">
                <code>{{workingUser.nickname}}</code>
            </div>
        </div>

        <label for="email"><message key="editUser.email.title"></message></label>
        <div class="form-control-group" ng-class="deriveFormControlsContainerClasses('email')">
            <input
                    id="email"
                    type="text"
                    name="email"
                    valid-email=""
                    autocomplete="off"
                    ng-model="workingUser.email">
            <error-messages key-prefix="editUser.email" error="editUserForm.email.$error"></error-messages>
        </div>

        <label><message key="editUser.naturalLanguage.title"></message></label>
        <div class="form-control-group">
            <div class="form-control-group-static">
                <natural-language-chooser
                        natural-language-code="workingUser.naturalLanguageCode">
                </natural-language-chooser>
            </div>
        </div>

        <div class="form-action-container">
            <button
                    ng-disabled="editUserForm.$invalid"
                    ng-click="goSave()"
                    type="submit"
                    class="main-action">
                <message key="editUser.action.title"></message>
            </button>
        </div>

    </form>
</div>

<spinner spin="shouldSpin()"></spinner>

