
<div class="content-container">

    <div id="home-search-criteria-container">
        <div id="home-search-criteria-architecture-container">
            <select ng-model="selectedArchitecture" ng-options="anArchitecture.code for anArchitecture in architectures"></select>
        </div>
        <div id="home-search-criteria-category-container">
            <select ng-model="selectedViewCriteriaTypeOption" ng-options="aViewCriteriaTypeOptions.name for aViewCriteriaTypeOptions in viewCriteriaTypeOptions"></select>
        </div>
        <div id="home-search-criteria-predicates-container">
            <div ng-show="'SEARCH'==selectedViewCriteriaTypeOption.code">
                <input
                        ng-model="searchExpression"
                        ui-keypress="{enter:'goSearch()'}"
                        placeholder="Search..."></input>
                <button
                        ng-disabled="!searchExpression || !searchExpression.length"
                        ng-click="goSearch()">
                    Go
                </button>
            </div>
            <div ng-show="'CATEGORIES'==selectedViewCriteriaTypeOption.code">
                Not supported yet!
            </div>
        </div>
    </div>

    <!-- RESULTS -->

    <div id="home-search-results-container">

        <div ng-show="pkgs && 0==pkgs.length" class="info-container">
            <strong>No results; </strong>
            There were no packages able to be found from your search criteria.
        </div>

        <div ng-show="pkgs && pkgs.length" class="table-general-container">

            <div class="table-general-pagination-container">
                <a href="" ng-click="goPreviousPage()" ng-show="0!=offset">&laquo;</a>
                <span ng-show="0==offset">&laquo;</span>
                <a href="" ng-click="goNextPage()" ng-show="hasMore">&raquo;</a>
                <span ng-show="!hasMore">&raquo;</span>
            </div>

            <table id="home-search-results-table" class="table-general">
                <thead>
                <th></th>
                <th>Package</th>
                <th>Current Version</th>
                </thead>
                <tbody>
                <tr ng-repeat="pkg in pkgs">
                    <td><pkg-icon size="16" pkg="pkg"></pkg-icon></td>
                    <td><a href="" ng-click="goViewPkg(pkg)">{{pkg.name}}</a></td>
                    <td><version-label version="pkg.version"></version-label></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div class="footer"></div>
<spinner spin="shouldSpin()"></spinner>