<div class="content-container home">

    <div id="search-criteria-container">
        <div>
            <select
                    ng-model="selectedArchitecture"
                    ng-options="anArchitecture.code for anArchitecture in architectures">
            </select>
        </div>
        <div>
            <select
                    ng-model="selectedViewCriteriaTypeOption"
                    ng-options="aViewCriteriaTypeOptions.title for aViewCriteriaTypeOptions in viewCriteriaTypeOptions">
            </select>
        </div>
        <div ng-show="'SEARCH'==selectedViewCriteriaTypeOption.code">
            <input
                    ng-model="searchExpression"
                    autocomplete="off"
                    ui-keypress="{enter:'goSearch()'}"
                    placeholder="zlib"></input>
            <button
                    ng-disabled="!searchExpression || !searchExpression.length"
                    ng-click="goSearch()">
                <message key="home.searchButton.title"></message>
            </button>
        </div>
        <div ng-show="'CATEGORIES'==selectedViewCriteriaTypeOption.code">
            <span ng-show="!pkgCategories">...</span>
            <select
                    ng-show="pkgCategories"
                    ng-model="selectedPkgCategory"
                    ng-options="aPkgCategory.title for aPkgCategory in pkgCategories">
            </select>
        </div>
    </div>

    <!-- RESULTS -->

    <div id="search-results-container">

        <div ng-show="pkgs && 0==pkgs.length" class="info-container">
            <strong><message key="home.noResults.title"></message>;</strong>
            <message key="home.noResults.description"></message>
        </div>

        <div ng-show="pkgs && pkgs.length" class="table-general-container">

            <div class="table-general-pagination-container">
                <pagination-arrow active="0!=offset" page-click="goPreviousPage()" direction="left"></pagination-arrow>
                <pagination-arrow active="hasMore" page-click="goNextPage()" direction="right"></pagination-arrow>
            </div>

            <table class="table-general">
                <thead>
                <th></th>
                <th><message key="gen.pkg.title"></message></th>
                <th><message key="home.table.version.title"></message></th>
                <th ng-show="'MOSTRECENT'==selectedViewCriteriaTypeOption.code"><message key="home.table.approximateVersionDate.title"></message></th>
                <th ng-show="'MOSTVIEWED'==selectedViewCriteriaTypeOption.code"><message key="home.table.versionViewCounter.title"></message></th>
                </thead>
                <tbody>
                <tr ng-repeat="pkg in pkgs">
                    <td><pkg-icon size="16" pkg="pkg"></pkg-icon></td>
                    <td>
                        <a href="" ng-click="goViewPkg(pkg)">{{pkg.name}}</a>
                    </td>
                    <td><version-label version="pkg.version"></version-label></td>
                    <td ng-show="'MOSTRECENT'==selectedViewCriteriaTypeOption.code"><span class="muted">{{pkg.version.createTimestamp|timestamp}}</span></td>
                    <td ng-show="'MOSTVIEWED'==selectedViewCriteriaTypeOption.code"><span class="muted">{{pkg.version.viewCounter}}</span></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div class="footer"></div>
<spinner spin="shouldSpin()"></spinner>