<breadcrumbs></breadcrumbs>

<div class="content-container">

    <div ng-show="'DONE'==status">
        <h1><message key="initiatePasswordReset.done.title"></message></h1>
        <p><message key="initiatePasswordReset.done.description"></message></p>
    </div>

    <div ng-show="'IDLE'==status">
        <form name="initiatePasswordResetForm" novalidate="novalidate">

            <label for="email"><message key="initiatePasswordReset.email.title"></message></label>
            <div class="form-control-group" ng-class="deriveFormControlsContainerClasses('email')">
                <input
                        id="email"
                        type="text"
                        name="email"
                        valid-email=""
                        autocomplete="off"
                        ng-model="workingInitiatePasswordReset.email"></input>
                <error-messages key-prefix="initiatePasswordReset.email" error="initiatePasswordResetForm.email.$error"></error-messages>
                <div class="muted">
                    <small><message key="initiatePasswordReset.email.description"></message></small>
                </div>
            </div>

            <label for="captcha-response-input"><message key="initiatePasswordReset.captchaResponse.title"></message></label>
            <div class="form-control-group" ng-class="deriveFormControlsContainerClasses('captchaResponse')">
                <img style="vertical-align:middle;" ng-src="{{captchaImageUrl}}"></img>
                =
                <input
                        id="captcha-response-input"
                        size="3"
                        type="text"
                        autocomplete="off"
                        name="captchaResponse"
                        ng-required="true"
                        ng-change="captchaResponseDidChange()"
                        ng-model="workingInitiatePasswordReset.captchaResponse"></input>
                <error-messages key-prefix="initiatePasswordReset.captchaResponse" error="initiatePasswordResetForm.captchaResponse.$error"></error-messages>
            </div>

            <div class="form-action-container">
                <button
                        ng-disabled="initiatePasswordResetForm.$invalid"
                        ng-click="goInitiatePasswordReset()"
                        type="submit"
                        class="main-action"><message key="initiatePasswordReset.action.title"></message></button>
            </div>
        </form>
    </div>

</div>

<div class="footer"></div>
<spinner spin="shouldSpin()"></spinner>

