<div class="content-container list-repositories">

    <div id="search-criteria-container">
        <div>
            <input
                    autocomplete="off"
                    ng-model="searchExpression"
                    return-key-press="goSearch()"
                    placeholder="Filter by code..."></input>
            <button ng-click="goSearch()">
                <message key="listRepositories.search.go.title"></message>
            </button>
        </div>
    </div>

    <!-- RESULTS -->

    <div id="search-results-container">

        <div ng-show="repositories.items && 0==repositories.items.length" class="info-container">
            <strong><message key="listRepositories.noResults.title"></message>; </strong>
            <message key="listRepositories.noResults.description"></message>
        </div>

        <div ng-show="repositories.items && repositories.items.length" class="table-general-container">

            <div class="table-general-pagination-container">
                <pagination-control
                        link-count="9"
                        max="repositories.max"
                        total="repositories.total"
                        offset="repositories.offset"></pagination-control>
            </div>

            <table class="table-general">
                <thead>
                <th><message key="listRepositories.table.active.title"></message></th>
                <th><message key="listRepositories.table.code.title"></message></th>
                <th><message key="gen.architecture.title"></message></th>
                </thead>
                <tbody>
                <tr ng-repeat="repository in repositories.items">
                    <td><active-indicator state="repository.active"></active-indicator></td>
                    <td><repository-label repository="repository"></repository-label></td>
                    <td><code>{{repository.architectureCode}}</code></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <ul>
        <li ng-show="!amShowingInactive" show-if-permission="'REPOSITORY_LIST_INACTIVE'">
            <a href="" ng-click="goShowInactive()">
                <message key="listRepositories.showInactiveAction.title"></message>
            </a>
        </li>
        <li show-if-permission="'REPOSITORY_ADD'">
            <a
                    breadcrumb-link="addRepository"
                    breadcrumb-link-parameters="[]">
                <message key="listRepositories.addAction.title"></message>
            </a>
        </li>
    </ul>

</div>

<div class="footer"></div>
<spinner spin="shouldSpin()"></spinner>