<breadcrumbs></breadcrumbs>

<div class="content-container">

    <h1>
        <span ng-show="pkg.versions.length > 1">
            <message key="listPkgVersionsForPkg.title.plural" parameters="[pkg.versions.length,pkg.name]"></message>
        </span>
        <span ng-show="1==pkg.versions.length">
            <message key="listPkgVersionsForPkg.title" parameters="[pkg.versions.length,pkg.name]"></message>
        </span>
    </h1>

    <table class="table-general">
        <thead>
        <th><message key="listPkgVersionsForPkg.table.pkgVersion.title"></message></th>
        <th></th>
        </thead>
        <tbody>
        <tr ng-repeat="pkgVersion in pkg.versions">
            <td>
                <pkg-version-label pkg-version="pkgVersion"></pkg-version-label>
                <span class="muted" ng-show="pkgVersion.isLatest">
                    (<message key="listPkgVersionsForPkg.latest" parameters="[pkgVersion.architectureCode]"></message>)
                </span>
            </td>
            <td>
                <a href="" ng-click="goViewLocalization(pkgVersion)">
                    <message key="listPkgVersionsForPkg.viewLocalizationAction.title"></message>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div class="footer"></div>
<spinner spin="shouldSpin()"></spinner>

