<breadcrumbs items="breadcrumbItems"></breadcrumbs>

<div class="content-container">

    <h1>About</h1>
    <p>
        This is an application-server (version <code>{{serverProjectVersion}}</code>) called "Haiku Depot Server" that stores and
        allows interaction with software packages for the
        <a href="http://www.haiku-os.org">Haiku Operating System</a>.
    </p>

    <h1>Actions</h1>
    <ul>
        <li>
            <a href="" ng-click="goHome()">Home</a>
        </li>
        <li ng-show="canGoRuntimeInformation">
            <a href="" ng-click="goRuntimeInformation()">Runtime information</a>
        </li>
    </ul>

</div>
<div class="footer"></div>
