<!--
  ~ Copyright 2016, Andrew Lindesay
  ~ Distributed under the terms of the MIT License.
  -->

<div class="content-container">

    <form name="specificationForm" novalidate="novalidate">

        <label for="import-data-file"><message key="pkgIconArchiveImport.importDataFile.title"></message></label>
        <div class="form-control-group" ng-class="deriveFormControlsContainerClasses('importDataFile')">
            <input id="import-data-file" name="importDataFile" type="file" ng-model="specification.importDataFile" file-supply required></input>
            <error-messages key-prefix="pkgIconArchiveImport.importDataFile" error="specificationForm.importDataFile.$error"></error-messages>
        </div>

        <div class="form-action-container">
            <button
                    ng-disabled="specificationForm.$invalid"
                    ng-click="goQueue()"
                    type="submit"
                    class="main-action">
                <message key="pkgIconArchiveImport.action.title"></message>
            </button>
        </div>

    </form>

</div>

<spinner spin="shouldSpin()"></spinner>

