<breadcrumbs></breadcrumbs>

<div class="form-alert-container" ng-show="didReject">
    <message key="reporting.didreject.description"></message>
</div>

<div class="content-container">

    <ul>
        <li show-if-permission="'BULK_PKGCATEGORYCOVERAGEEXPORTSPREADSHEET'">
            <a href="" ng-click="goPkgCategoryCoverageExportSpreadsheet()">
                <message key="reporting.pkgcategorycoverageexportspreadsheet.title"></message>
            </a>
        </li>
        <li show-if-permission="'BULK_PKGPROMINENCEANDUSERRATINGSPREADSHEETREPORT'">
            <a href="" ng-click="goPkgProminenceAndUserRatingSpreadsheetReport()">
                <message key="reporting.pkgprominenceanduserratingspreadsheetreport.title"></message>
            </a>
        </li>
        <li show-if-permission="'BULK_PKGICONSPREADSHEETREPORT'">
            <a href="" ng-click="goPkgIconSpreadsheetReport()">
                <message key="reporting.pkgiconspreadsheetreport.title"></message>
            </a>
        </li>
        <li show-if-permission="'BULK_USERRATINGSPREADSHEETREPORT_ALL'">
            <a href="" ng-click="goUserRatingSpreadsheetReportAll()">
                <message key="reporting.userratingspreadsheetreportall.title"></message>
            </a>
        </li>
        <li show-if-permission="'BULK_PKGICONARCHIVEEXPORT'">
            <a href="" ng-click="goPkgIconArchiveExport()">
                <message key="reporting.pkgiconarchiveexport.title"></message>
            </a>
        </li>
    </ul>

</div>
<div class="footer"></div>
