<breadcrumbs items="breadcrumbItems"></breadcrumbs>

<div class="content-container">

    <ul>
        <li show-if-permission="'BULK_PKGCATEGORYCOVERAGESPREADSHEETREPORT'">
            <a href="" ng-click="goPkgCategoryCoverageSpreadsheetReport()">
                <message key="reporting.pkgcategorycoveragespreadsheetreport.title"></message>
            </a>
        </li>
        <li show-if-permission="'BULK_PKGPROMINENCEANDUSERRATINGSPREADSHEETREPORT'">
            <a href="" ng-click="goPkgProminenceAndUserRatingSpreadsheetReport()">
                <message key="reporting.pkgprominenceanduserratingspreadsheetreport.title"></message>
            </a>
        </li>
        <li show-if-permission="'BULK_PKGICONSPREADSHEETREPORT'">
            <a href="" ng-click="goPkgIconSpreadsheetReport()">
                <message key="reporting.pkgiconspreadsheetreport.title"></message>
            </a>
        </li>
    </ul>

</div>
<div class="footer"></div>
