<div class="content-container">

    <div class="info-container" ng-show="didTriggerImportRepository">
        <strong><message key="viewRepository.importTriggered.title"></message> :</strong>
        <message key="viewRepository.importTriggered.description"></message>
    </div>

    <h1>{{repository.name}}</h1>

    <dl>
        <dt><message key="viewRepository.name.title"></message></dt>
        <dd>{{repository.name}}</dd>
        <dt><message key="gen.code.title"></message></dt>
        <dd><code>{{repository.code}}</code>&nbsp;</dd>
        <dt><message key="viewRepository.active.title"></message></dt>
        <dd><active-indicator state="repository.active"></active-indicator>&nbsp;</dd>
        <dt ng-show="repository.informationUrl"><message key="viewRepository.informationUrl.title"></message></dt>
        <dd ng-show="repository.informationUrl"><a ng-href="{{repository.informationUrl}}">{{repository.informationUrl}}</a></dd>
        <dt><message key="gen.created.title"></message></dt>
        <dd>{{repository.createTimestamp|timestamp}}</dd>
        <dt><message key="gen.modified.title"></message></dt>
        <dd>{{repository.modifyTimestamp|timestamp}}</dd>
        <dt repository="repository" show-if-repository-permission="'REPOSITORY_EDIT'">
            <message key="viewRepository.password.title"></message>
        </dt>
        <dd repository="repository" show-if-repository-permission="'REPOSITORY_EDIT'">
            <boolean-indicator state="repository.hasPassword"></boolean-indicator>
        </dd>
    </dl>

    <h2><message key="viewRepository.sources.title"></message></h2>

    <div ng-show="!repository.repositorySources || !repository.repositorySources.length" class="info-container">
        <strong><message key="viewRepository.repositorySources.none.title"></message>;</strong>
        <message key="viewRepository.repositorySources.none.description"></message>
    </div>

    <table class="table-general table-repository-sources" ng-show="repository.repositorySources && repository.repositorySources.length">
        <thead>
        <th><message key="viewRepository.repositorySources.table.active.title"></message></th>
        <th><message key="viewRepository.repositorySources.table.code.title"></message></th>
        <th><message key="viewRepository.repositorySources.table.url.title"></message></th>
        </thead>
        <tbody>
        <tr ng-repeat="repositorySource in repository.repositorySources">
            <td><active-indicator state="repositorySource.active"></active-indicator></td>
            <td><repository-source-label repository-source="repositorySource"></repository-source-label></td>
            <td><a href="repositorySource.url">{{repositorySource.url}}</a></td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li ng-show="repository.hasPassword" repository="repository" show-if-repository-permission="'REPOSITORY_EDIT'">
            <a href="" ng-click="goDeletePassword()">
                <message key="viewRepository.deletePasswordAction.title"></message>
            </a>
        </li>
        <li ng-show="!amShowingInactiveRepositorySources" repository="repository" show-if-repository-permission="'REPOSITORY_EDIT'">
            <a href="" ng-click="goShowInactiveRepositorySources()">
                <message key="viewRepository.showInactiveRepositorySourcesAction.title"></message>
            </a>
        </li>
        <li ng-show="amShowingInactiveRepositorySources" repository="repository" show-if-repository-permission="'REPOSITORY_EDIT'">
            <a href="" ng-click="goHideInactiveRepositorySources()">
                <message key="viewRepository.hideInactiveRepositorySourcesAction.title"></message>
            </a>
        </li>
        <li repository="repository" show-if-repository-permission="'REPOSITORY_EDIT'">
            <a href="" ng-click="goAddRepositorySource()">
                <message key="viewRepository.addRepositorySourceAction.title"></message>
            </a>
        </li>
        <li ng-show="canDeactivate()" repository="repository" show-if-repository-permission="'REPOSITORY_EDIT'">
            <a href="" ng-click="goDeactivate()">
                <message key="viewRepository.deactivateAction.title"></message>
            </a>
        </li>
        <li ng-show="canReactivate()" repository="repository" show-if-repository-permission="'REPOSITORY_EDIT'">
            <a href="" ng-click="goReactivate()">
                <message key="viewRepository.reactivateAction.title"></message>
            </a>
        </li>
        <li ng-show="repository.active" repository="repository" show-if-repository-permission="'REPOSITORY_IMPORT'">
            <a href="" ng-click="goTriggerImport()">
                <message key="viewRepository.triggerImportAction.title"></message>
            </a>
        </li>
        <li repository="repository" show-if-repository-permission="'REPOSITORY_EDIT'">
            <a
                    breadcrumb-link="editRepository"
                    breadcrumb-link-parameters="[repository]">
                <message key="viewRepository.editAction.title"></message>
            </a>
        </li>
    </ul>

</div>

<spinner spin="shouldSpin()"></spinner>

