<div class="generic-page-content-container">

    <breadcrumbs items="breadcrumbItems"></breadcrumbs>

    <h2>
        <pkg-icon size="32" pkg="pkg"></pkg-icon>
        {{pkg.name}}
    </h2>

    <p>
<span class="label label-default">
    <version-label version="pkg.versions[0]"></version-label>
    - {{pkg.versions[0].architectureCode}}
</span>
    </p>

    <p ng-show="pkg.versions[0].summary" class="lead">{{pkg.versions[0].summary}}</p>
    <p ng-show="pkg.versions[0].description">{{pkg.versions[0].description}}</p>

</div>

        <h3>Actions</h3>

        <ul>
            <li><a target="_blank" ng-show="homePageLink()" href="{{homePageLink()}}">Visit web site</a></li>
            <li ng-show="canRemoveIcon()"><a href="" ng-click="goRemoveIcon()">Remove icon</a></li>
            <li ng-show="canEditIcon()"><a href="" ng-click="goEditIcon()">Edit icons</a></li>
        </ul>

<spinner spin="shouldSpin()"></spinner>

