<div class="content-container">

    <div class="info-container" ng-show="didTriggerImportRepository">
        <strong><message key="viewRepository.importTriggered.title"></message> :</strong>
        <message key="viewRepository.importTriggered.description"></message>
    </div>

    <dl>
        <dt><message key="gen.code.title"></message></dt>
        <dd><code>{{repository.code}}</code>&nbsp;</dd>
        <dt><message key="viewRepository.active.title"></message></dt>
        <dd><active-indicator state="repository.active"></active-indicator>&nbsp;</dd>
        <dt><message key="viewRepository.url.title"></message></dt>
        <dd><a href="{{repository.code}}">{{repository.url}}</a></dd>
        <dt><message key="gen.architecture.title"></message></dt>
        <dd>{{repository.architectureCode}}</dd>
        <dt><message key="gen.created.title"></message></dt>
        <dd>{{repository.createTimestamp|timestamp}}</dd>
        <dt><message key="gen.modified.title"></message></dt>
        <dd>{{repository.modifyTimestamp|timestamp}}</dd>
    </dl>

    <ul>
        <li ng-show="canDeactivate()" repository="repository" show-if-repository-permission="'REPOSITORY_EDIT'">
            <a href="" ng-click="goDeactivate()">
                <message key="viewRepository.deactivateAction.title"></message>
            </a>
        </li>
        <li ng-show="canReactivate()" repository="repository" show-if-repository-permission="'REPOSITORY_EDIT'">
            <a href="" ng-click="goReactivate()">
                <message key="viewRepository.reactivateAction.title"></message>
            </a>
        </li>
        <li ng-show="repository.active" repository="repository" show-if-repository-permission="'REPOSITORY_IMPORT'">
            <a href="" ng-click="goTriggerImport()">
                <message key="viewRepository.triggerImportAction.title"></message>
            </a>
        </li>
        <li repository="repository" show-if-repository-permission="'REPOSITORY_EDIT'">
            <a
                    breadcrumb-link="editRepository"
                    breadcrumb-link-parameters="[repository]">
                <message key="viewRepository.editAction.title"></message>
            </a>
        </li>
    </ul>

</div>

<div class="footer"></div>
<spinner spin="shouldSpin()"></spinner>

