<breadcrumbs items="breadcrumbItems"></breadcrumbs>

<div class="content-container">

    <h1>
        {{user.nickname}}
    </h1>

    <dl>
        <dt><message key="viewUser.active.title"></message></dt>
        <dd><active-indicator state="user.active"></active-indicator>&nbsp;</dd>
        <dt><message key="viewUser.naturalLanguage.title"></message></dt>
        <dd><message key="{{'naturalLanguage.' + user.naturalLanguageCode}}"></message></dd>
        <dt><message key="gen.created.title"></message></dt>
        <dd>{{user.createTimestamp|timestamp}}</dd>
        <dt><message key="gen.modified.title"></message></dt>
        <dd>{{user.modifyTimestamp|timestamp}}</dd>
    </dl>

    <h2><message key="gen.actions.title"></message></h2>

    <ul>
        <li ng-show="canDeactivate()" user="user" show-if-user-permission="'USER_EDIT'">
            <a href="" ng-click="goDeactivate()">
                <message key="viewUser.deactivateAction.title"></message>
            </a>
        </li>
        <li ng-show="canReactivate()" user="user" show-if-user-permission="'USER_EDIT'">
            <a href="" ng-click="goReactivate()">
                <message key="viewUser.reactivateAction.title"></message>
            </a>
        </li>
        <li user="user" show-if-user-permission="'USER_CHANGEPASSWORD'">
            <a href="" ng-click="goChangePassword()">
                <message key="viewUser.changePaswordAction.title"></message>
            </a>
        </li>
        <li user="user" show-if-user-permission="'USER_EDIT'">
            <a href="" ng-click="goEdit()">
                <message key="viewUser.editAction.title"></message>
            </a>
        </li>
        <li ng-show="canLogout()">
            <a href="" ng-click="goLogout()">
                <message key="viewUser.logoutAction.title"></message>
            </a>
        </li>
    </ul>

</div>

<div class="footer"></div>
<spinner spin="shouldSpin()"></spinner>

