<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{ISO8601} %X{authUserNickname}/%X{userAgentCode} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    Cayenne logs quite a bit of material out; best to turn that quantity of logging down a bit.
    -->

    <logger name="org.apache.cayenne" level="info"/>
    <logger name="com.googlecode.flyway" level="warn"/>
    <logger name="org.haiku.haikudepotserver.pkg.search" level="info"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>