#natural-language-translations-add-language-container {
    margin-top: 16px;
    padding-top: 4px;
}

#natural-language-translations-add-language-container > select {
    width: 140px;
}

#natural-language-translations-add-language-container > * {
    margin-top: 4px;
}

#edit-localization-container {
    position: relative;
    border : 1px solid black;
    border-collapse: collapse;
    width: 100%
}

#edit-localization-container td {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    vertical-align: top;
}

#edit-localization-container > tr > td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#natural-language-translations-cell {
    width: 20%;
    border-right : 1px dotted lightgray;
    border-left: 1px solid black;
}

#natural-language-translations-cell div {
    padding: 4px;
}

#natural-language-translations-cell .selected-translation {
    font-weight: bold;
}

#translation-cell {
}

#translation-cell-summary {
    width: 100%;
    height: 64px;
}

#translation-cell-description {
    width: 100%;
    height: 200px;
}

#translation-cell-title {
    width: 100%;
}

#edit-localization-actions-container {
    margin-top: 16px;
    margin-left: 20%
}

#any-pkg-version-localization-translations-cell {
    width: 20%;
    border-left : 1px dotted lightgray;
    background-color: #f5f5f5;
    color: gray;
}

#any-pkg-version-localization-translations-cell h1 {
    font-size: 10px;
    text-align: right;
    color: gray;
}

#any-pkg-version-localization-translations-cell h2 {
    color: gray;
}
