/*
This specific layout works off the premise that there is only one table on this page.
*/

.home .table-general > tbody > tr > td:nth-child(1) {
    width:18px;
    text-align: center;
}

.home .table-general > thead > tr > th:nth-child(3) {
    text-align: right;
    width:105px;
}

.home .table-general > tbody > tr > td:nth-child(3) {
    text-align: right;
    width:110px;
}

/* 4th = Repository */

.home .table-general > thead > tr > th:nth-child(4) {
    width:110px;
    text-align: center;
}

.home .table-general > tbody > tr > td:nth-child(4) {
    width:110px;
    text-align: center;
}

/* 5th = Version */

.home .table-general > thead > tr > th:nth-child(5) {
    width:196px;
}

.home .table-general > tbody > tr > td:nth-child(5) {
    width:196px;
}

.home .table-general > thead > tr > th:nth-child(6) {
    width:196px;
}

.home .table-general > tbody > tr > td:nth-child(6) {
    width:196px;
}

.home .table-general > thead > tr > th:nth-child(7) {
    width:196px;
}

.home .table-general > tbody > tr > td:nth-child(7) {
    width:196px;
}