/*
This specific layout works off the premise that there is only one table on this page.
*/

.list-repositories .table-general > tbody > tr > td:nth-child(1) {
    width: 10%;
    text-align: center;
}

.list-repositories .table-general > tbody > tr > td:nth-child(2) {
    width:60%;
}

.list-repositories .table-general > tbody > tr > td:nth-child(3) {
    width:30%;
}