
.repositories-chooser-repositories-container {
    height: 225px;
    width: 100%;
    overflow-y: scroll;
    border: 1px lightgray solid;
}

.repositories-chooser-actions-container {
    margin-top: 12px;
    text-align: right;
}
