#pkg-title {
    margin-bottom: 6px;
}

#pkg-title-feed-and-link {
    float: right;
}

#pkg-title-icon {
    display: inline;
    float:left;
}

#pkg-title-feed-and-link a {
    text-decoration: none;
}

#pkg-title-text {
    padding-left: 38px;
}

#pkg-title-text h1 {
    margin: 0;
}

/*
---------------------
USER RATINGS
*/

#pkg-rating-indicator-container {
    margin-top: 6px;
    margin-bottom: 8px;
}

#pkg-rating-indicator-container .pkg-ratings-indicator-sample {
    margin-left: 12px;
    color: gray;
}

/*
---------------------
DESCRIPTION / META-DATA
*/

#pkg-metadata-container {
    border-top: 1px lightgray solid;
}

#pkg-description-container {

}

/*
---------------------
USER-RATINGS
*/

#pkg-userratings-container {
    border-top: 1px lightgray solid;
}

#pkg-userratings-container .pkg-userratings-pagination {
    float: right;
    margin-top: 2px;
    margin-bottom: 2px;
}

#pkg-userratings-container .pkg-userrating {
    display: inline-block;
    width: 360px;
    height: 82px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 8px;
    margin-right: 8px;
    vertical-align: top;
    background-color: #f4f4f4;
    border-left: 2px solid gray;
    position: relative;
}

#pkg-userratings-container .pkg-userrating-indicatoranduser {
    height: 26px;
}

#pkg-userratings-container .pkg-userrating-meta {
    float: right;
    font-size: 10px;
}

#pkg-userratings-container .pkg-userrating-comment {
    /*clear: both;*/
    font-size: 10px;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 48px;
}

#pkg-userratings-container .pkg-userrating-differentversion {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: rgba(255,0,0,0.5);
    font-size: 10px;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top-left-radius: 3px;
}

/*
---------------------
ACTIONS
*/

#pkg-actions-container {
    border-top: 1px lightgray solid;
}

/*
---------------------
SCREENSHOTS
*/

#pkg-screenshot-container {
    width: 100%;
    border: 1px solid black;
    background-color: #444;
    overflow: auto;
    height: 256;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 20px;
}

.pkg-screenshot-item-container {
    margin: 8px;
    box-shadow: 2px 2px 4px black;
    display: inline-block;
    position: relative;
}

.pkg-screenshot-item-controls-container a {
    text-decoration: none;
}

.pkg-screenshot-item-controls-container {
    padding-top:2px;
    padding-bottom:2px;
    padding-left:4px;
    padding-right:4px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgb(253,207,49);
    border-bottom-left-radius: 4px;
    display: inline;
}