
.common-muted {
    color: grey;
}

.common-hidden {
    display: none;
}

/* ================= */

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

#common-main-content-container {
    padding: 8px;
    width: auto;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
}

/* == VALIDATION ================== */

ul.common-validation-failure-container > li {
    color: red;
}

/* == FORMS ================== */

form.common-form {
    padding-top: 8px;
}

form.common-form > div.common-form-input-container {
    padding-top: 4px;
    padding-bottom: 4px;
}

form.common-form > div.common-form-input-container > label {
    color: grey;
    font-size: small;
    display: block;
}

form.common-form > div.common-form-submit {
    border-top: 1px solid gray;
    padding-top: 6px;
    margin-top: 8px;
    text-align: right;
}

form.common-form span.common-form-required-mark {
    color: red;
    font-weight: bold;
}

/* == ACTIVE INDICATOR ================== */

.common-active-indicator-unknown {
    color: grey;
}

.common-active-indicator-true {
    color: #47c547;
}

.common-active-indicator-false {
    color: red;
}

/* == ALERT ================== */

div.common-alert-container {
    border: 1px solid;
    border-radius: 4px;
    padding: 6px;
}

div.common-alert-info-container {
    background-color: #d2f4d2;
    border-color: #47c547;
}

div.common-alert-info-container div.common-alert-icon {
    color: #47c547;
}

div.common-alert-warning-container {
    background-color: #ffda93;
    border-color: #ffb421;
}

div.common-alert-warning-container div.common-alert-icon {
    color: #ffb421;
}

div.common-alert-error-container {
    background-color: #ffeaea;
    border-color: red;
}

div.common-alert-error-container div.common-alert-icon {
    color: red;
}

div.common-alert-container div.common-alert-icon {
    float: left;
    margin-right: 8px;
}

/* == DISCLOSURE ================== */

.common-disclosure {
    display: flex;
}

.common-disclosure > img {
    margin-right: 8px;
}

.common-disclosure > div.common-disclosure-content {
    flex: 1;
    border: 1px dotted gray;
    padding: 8px;
    display: none;
}

.common-disclosure > svg.common-disclosure-toggle-on {
    display: none;
}

.common-disclosure.shown > div.common-disclosure-content {
    display: block;
}

.common-disclosure.shown > div.common-disclosure-placeholder {
    display: none;
}

.common-disclosure.shown > svg.common-disclosure-toggle-on {
    display: inline;
}

.common-disclosure.shown > svg.common-disclosure-toggle-off {
    display: none;
}

/* == PKG ICON ================== */

div.common-pkg-icon-container {
    display: inline-block;
}

div.common-pkg-icon-badge {
    float: right;
}

/* == DATA LIST ================== */

dl > dt {
    color: grey;
    font-size: small;
    display: block;
}

dl > dd {
    display: block;
    margin-left : 0;
    margin-bottom: 6px;
}

/* == TABLE ================== */

table.common-table {
    width: 100%;
}

table.common-table {
    border-collapse: collapse;
    border: 1px solid gray;
}

table.common-table th {
    text-align: left;
    background-color: #444;
    color: white;
    font-weight: normal;
}

table.common-table td {
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
}

table.common-table td:not(:last-child) {
    border-right: 1px dotted gray;
}

table.common-table tr:nth-child(2n) {
    background-color: #EEE;
}

/* align the size column to the right */
table.common-table td:nth-child(3) {
    text-align: right;
}

table.common-table th:nth-child(3) {
    text-align: right;
}

/* align the rating column to the middle */
table.common-table td:nth-child(4) {
    text-align: center;
}

table.common-table th:nth-child(4) {
    text-align: center;
}

/* align the views column to the right */
table.common-table td:nth-child(6) {
    text-align: right;
}

table.common-table th:nth-child(6) {
    text-align: right;
}

/* == PAGINATION ================== */

.common-pagination {
    display: flex;
    gap: 8px;
}

.common-pagination > div {
    text-align: center;
    min-width: 1.5em;
}

.common-pagination > div.common-pagination-selected {
    font-weight: bold;
}

/* == HIGHLIGHTING ================== */

.common-highlight {
    background-color: #ffc8fe;
    border: 1px solid rgb(255, 149, 255);
}