<!--
  ~ Copyright 2018, Andrew Lindesay
  ~ Distributed under the terms of the MIT License.
  -->

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{ISO8601} %X{authUserNickname}/%X{userAgentCode} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.cayenne" level="warn"/>
    <logger name="com.googlecode.flyway" level="debug"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>