
<!--
  ~ Copyright 2018, Andrew Lindesay
  ~ Distributed under the terms of the MIT License.
  -->

<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">

    <display-name>Haiku Depot Server</display-name>

    <!-- would like to move this to class-based config, but evidently this is not
    possible right now. -->

    <error-page>
        <location>/__error</location>
    </error-page>

</web-app>
