
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">

    <display-name>Haiku Depot Web</display-name>

    <servlet>
        <servlet-name>error-servlet</servlet-name>
        <servlet-class>org.haiku.haikudepotserver.support.web.ErrorServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>metric-admin-metrics</servlet-name>
        <servlet-class>com.codahale.metrics.servlets.MetricsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>metric-admin-ping</servlet-name>
        <servlet-class>com.codahale.metrics.servlets.PingServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>remote-log-capture</servlet-name>
        <servlet-class>org.haiku.haikudepotserver.support.web.RemoteLogCaptureServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>jawr-servlet-css</servlet-name>
        <servlet-class>net.jawr.web.servlet.JawrServlet</servlet-class>
        <init-param>
            <param-name>configPropertiesSourceClass</param-name>
            <param-value>org.haiku.haikudepotserver.support.web.SpringProvidedConfigPropertiesSource</param-value>
        </init-param>
        <init-param>
            <param-name>mapping</param-name>
            <param-value>/__jawr/css/</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>css</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>jawr-servlet-js</servlet-name>
        <servlet-class>net.jawr.web.servlet.JawrServlet</servlet-class>
        <init-param>
            <param-name>configPropertiesSourceClass</param-name>
            <param-value>org.haiku.haikudepotserver.support.web.SpringProvidedConfigPropertiesSource</param-value>
        </init-param>
        <init-param>
            <param-name>mapping</param-name>
            <param-value>/__jawr/js/</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>js</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:/spring/servlet-context.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>error-servlet</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>remote-log-capture</servlet-name>
        <url-pattern>/__log/capture</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>metric-admin-metrics</servlet-name>
        <url-pattern>/__metric/metrics</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>metric-admin-ping</servlet-name>
        <url-pattern>/__metric/ping</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>jawr-servlet-css</servlet-name>
        <url-pattern>/__jawr/css/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>jawr-servlet-js</servlet-name>
        <url-pattern>/__jawr/js/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring/application-context.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.haiku.haikudepotserver.support.web.SessionListener</listener-class>
    </listener>

    <filter>
        <filter-name>authenticationFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter>
        <filter-name>loggingFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter>
        <filter-name>singlePageTemplateFrequencyMetricsFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter>
        <filter-name>desktopApplicationMinimumVersionFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>authenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>loggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>singlePageTemplateFrequencyMetricsFilter</filter-name>
        <url-pattern>/js/app/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>desktopApplicationMinimumVersionFilter</filter-name>
        <url-pattern>/__api/*</url-pattern>
    </filter-mapping>

    <!-- TODO; remove legacy path -->
    <filter-mapping>
        <filter-name>desktopApplicationMinimumVersionFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>

    <error-page>
        <location>/error</location>
    </error-page>

</web-app>
