/*
These styles are related to the banner at the top of the screen containing the title of the application
as well as the status of the authenticated user.
*/

#banner-container {
    position: relative;
    margin: 0;
    background-color: #336698;
    width: 100%;
    height: 40px;
    padding: 0px;
    border-bottom: 1px solid black;
}

#banner-title {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 68px;
    height: 40px;
    background: url('/img/haikudepot.svg') no-repeat 32px 4px transparent;
    background-size: 32px 32px;
}

#banner-title div {
    position: relative;
    top: 8px;
    left: 0px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    vertical-align: middle;
}

#banner-actions {
    position: absolute;
    top: 6px;
    right: 0px;
    overflow: hidden;
    padding-right: 32px;
    color: white;
    overflow: hidden;
}

#banner-actions > .banner-actions-state-container {
    margin-right: 6px;
    display: inline-block;
}

#banner-actions > .banner-actions-state-container > span {
   line-height: 18px;
   vertial-align: middle;
}

#banner-container a {
    color: white;
}

#banner-actions button {
    background-color: transparent;
    border-color: white;
    border-width: 2px;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: middle;
}