/*
This specific layout works off the premise that there is only one table on this page.
*/

.home .table-general > tbody > tr > td:nth-child(1) {
    width: 24px;
}

.home .table-general > tbody > tr > td:nth-child(1) {
    width:18px;
    text-align: center;
}

.home .table-general > tbody > tr > td:nth-child(2) {
    width:50%;
}