#pkg-title {
    margin-bottom: 6px;
}

#pkg-title-icon {
    display: inline;
    float:left;
}

#pkg-title-text {
    padding-left: 38px;
}

#pkg-title-text h1 {
    margin: 0;
}

/*
---------------------
USER RATINGS
*/

#pkg-rating-indicator-container {
    margin-top: 6px;
    margin-bottom: 8px;
}

#pkg-rating-indicator-container .pkg-ratings-indicator-sample {
    margin-left: 12px;
    color: gray;
}

/*
---------------------
DESCRIPTION / META-DATA
*/

#pkg-metadata-container {
    border-top: 1px lightgray solid;
}

#pkg-description-container {

}

/*
---------------------
USER-RATINGS
*/

#pkg-userratings-container {
    border-top: 1px lightgray solid;
}

#pkg-userratings-container .pkg-userrating {
    display: inline-block;
}

/*
---------------------
ACTIONS
*/

#pkg-actions-container {
    border-top: 1px lightgray solid;
}

/*
---------------------
SCREENSHOTS
*/

#pkg-screenshot-container {
    width: 100%;
    border: 1px solid black;
    background-color: #444;
    overflow: auto;
    height: 256;
    padding-left: 8px;
    padding-right: 8px;
}

.pkg-screenshot-item-container {
    margin: 8px;
    box-shadow: 2px 2px 4px black;
    display: inline-block;
    position: relative;
}

.pkg-screenshot-item-controls-container a {
    text-decoration: none;
}

.pkg-screenshot-item-controls-container {
    padding-top:2px;
    padding-bottom:2px;
    padding-left:4px;
    padding-right:4px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgb(253,207,49);
    border-bottom-left-radius: 4px;
    display: inline;
}